.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.footer .left {
  width: 250px;
}
.footer .right {
  text-align: right;
  display: flex;
  column-gap: 10px;
}
.footer .right .puesto {
  padding: 20px;
}
.footer .logo {
  width: 200px;
  position: relative;
}
.footer .logoImg {
  width: 100%;
  height: auto;
}
.footer .slogan {
  font-size: 14px;
  font-family: "Schibsted Grotesk", sans-serif;
  margin-top: -20px;
}
.footer .puesto b {
  font-size: 16px;
}
.footer .puesto {
  text-align: right;
  font-size: 13px;
  font-family: "Schibsted Grotesk", sans-serif;
  padding-top: 30px;
}
.footer .contacto {
  font-size: 1.5em;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}
.footer .right p {
  margin: 0;
}
@media only screen and (max-width: 1000px) {
  .footer {
    padding: 40px 20px;
    text-align: center;
    display: block;
  }
  .footer .logo {
    margin: auto;
  }
  .footer .left {
    width: 250px;
    padding: 0;
    width: 100%;
  }
  .footer .right {
    display: block;
    text-align: center;
    width: 100%;
  }
  .footer .right .puesto {
    text-align: center;
    display: block;
    justify-content: space-between;
  }
}
