.navDesktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  background-color: white;
}
.navDesktop .flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navDesktop .logo {
  width: 150px;
  position: relative;
}
.navDesktop .logoImg {
  width: 100%;
  height: auto;
}
.navDesktop .link {
  display: inline-block;
  text-decoration: none;
  padding: 0 20px;
  font-size: 1em;
  cursor: pointer;
}
.header {
  padding: 5em 0;
  background-color: white;
}
.header .headerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .left {
  text-align: left;
  width: 45%;
}
.header .title {
  color: black;
  font-weight: bold;
  font-size: 1em;
  font-family: "Oswald", sans-serif;
}
.header .text {
  color: black;
  margin: 20px 0;
  font-size: 1.3em;
  font-family: "Oswald", sans-serif;
}
.header .right {
  width: 55%;
  padding: 20px;
}
.header .image {
  width: 100%;
}
.header .image .imageImg {
  width: 100%;
  height: auto;
}

.servicios {
  position: relative;
  padding: 5em 0;
}
.servicios .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(/img/servicios.png);
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.servicios .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.servicios .content {
  position: relative;
  z-index: 2;
  padding-top: 150px;
  text-align: center;
  color: white;
}
.servicios .text {
  text-align: left;
  font-size: 2em;
}
.home {
  background-color: white;
}
.home .title {
  font-size: 3em;
  padding: 20px;
}
.home .clientes {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.home .clientes .logoImg {
  width: 100%;
  height: auto;
}
.contacto {
  background-color: white;
}
.contactanos {
  display: flex;
  justify-content: space-between;
}
.contactanos .form {
  padding: 20px;
  width: 120%;
  border-radius: 10px;
  text-align: center;
}
.contactanos input {
  display: block;
  width: 100%;
  padding: 3px 10px;
  border: none;
  margin-bottom: 2px;
  text-align: left;
  color: red;
}
.contactanos label {
  color: black;
  font-size: 1em;
  text-align: center;
}
.contactanos .left img {
  width: 600px;
  height: 700px;
}
