
.title {
  margin: 20px 0;
}
.title h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
.title .divider {
  margin: 10px 0;
}
.title .divider .line {
  display: inline-block;
  background-color: #212427;
  width: 30px;
  height: 6px;
}
.title .divider .line:nth-child(1) {
  background-color: #57236c;
}
.title .divider .line:nth-child(2) {
  background-color: #dc3d61;
}
.title .divider .line:nth-child(3) {
  background-color: #f0b357;
}
.title .divider .line:nth-child(4) {
  background-color: #a8ce7c;
}
.title .divider .line:nth-child(5) {
  background-color: #3675b5;
}

.video {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.video video {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.video .logo {
  width: 500px;
}
.video .logo .img {
  width: 100%;
  height: auto;
}

.header {
  background-color: white;
}
.header h3 {
  font-size: 24px;
}
.header p {
  font-size: 16px;
}
.header .headerBox {
  display: flex;
  justify-content: center;
}
.header .left {
  text-align: left;
  width: 45%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header .text {
  color: #212427;
  margin: 20px 0;
  font-size: 1.2em;
}
.header .right {
  margin-top: -100px;
  width: 55%;
  padding: 20px;
}
.header .image {
  width: 100%;
}
.header .image .imageImg {
  width: 100%;
  height: auto;
}

.servicios {
  position: relative;
  padding: 250px 0 150px 0;
  background-color: #212427;
}
.servicios .logo {
  width: 250px;
}
.servicios .logo .img {
  width: 100%;
  height: auto;
}
.servicios .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(/img/servicios.jpg);
  background-position: top;
  background-size: cover;
  z-index: 1;
  transition-duration: 0.2s;
}
.servicios .bg.active {
  opacity: 0;
  transition-duration: 0.2s;
}
.servicios .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  transition-duration: 0.2s;
}
.servicios .overlay.active {
  background-color: rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
}
.servicios .content {
  position: relative;
  z-index: 3;
  text-align: center;
  color: white;
}
.servicios .text {
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 1.8em;
  cursor: pointer;
  transition-duration: 0.2s;
}
.servicios .text .servicio:hover {
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 0.2s;
}
.servicios .videos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
.servicios .videos video {
  display: none;
}
.servicios .videos .active {
  width: 100%;
  display: block;
}
.servicios .link {
  font-family: "Schibsted Grotesk", sans-serif;
  color: white;
  font-size: 34px;
  line-height: 50px;
  transition-duration: 0.2s;
}
.servicios .link:hover {
  opacity: 0.5;
  transition-duration: 0.2s;
}

.home {
  background-color: white;
  padding: 100px 0;
}
.home .clientes {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.home .clientes .logoImg {
  width: 100%;
  height: auto;
}

.contacto {
  background-color: #f0f0f0;
}
.contactanos {
  display: flex;
}
.contactanos .left {
  width: 50%;
}
.contactanos .right {
  width: 50%;
  padding: 60px;
}
.contactanos input {
  display: block;
  width: 100%;
  padding: 3px 10px;
  border: none;
  margin-bottom: 2px;
  text-align: left;
  color: #212427;
}
.contactanos label {
  display: block;
  color: #212427;
  font-size: 16px;
  margin-bottom: 4px;
}
.contactanos input {
  width: 100%;
  border: 1px solid #aaa;
  padding: 10px;
  margin-bottom: 20px;
}
.contactanos textarea {
  width: 100%;
  border: 1px solid #aaa;
  padding: 10px;
  height: 200px;
  margin-bottom: 20px;
}
.contactanos .left img {
  width: 100%;
  height: auto;
}
.contactanos button {
  font-family: "Oswald", sans-serif;
  width: 100%;
  margin: 10px 0;
  background-color: #212427;
  color: white;
  font-weight: 600;
  text-align: center;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
}
