.navDesktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  color: #212427;
  background-color: white;
  z-index: 999;
}
.navDesktop .flex {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navDesktop .logo {
  width: 200px;
  position: relative;
}
.navDesktop .logoImg {
  width: 100%;
  height: auto;
}
.navDesktop .link {
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  display: inline-block;
  text-decoration: none;
  padding: 0 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.title {
  margin: 20px 0;
}
.title h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
.title .divider {
  margin: 10px 0;
}
.title .divider .line {
  display: inline-block;
  background-color: #212427;
  width: 30px;
  height: 6px;
}

.content {
  background-color: #f0f0f0;
  display: flex;
  overflow: hidden;
  position: relative;
}
.content .left {
  width: 50%;
  padding: 3rem;
}
.content .right {
  width: 50%;
}
.content .text {
  font-size: 18px;
  color: #212427;
}
.content .text p {
  font-size: 1.2em;
}
.content .video {
  width: 100%;
  height: 100%;
}
.content .video video {
  width: 100%;
}

.carousel {
  padding: 40px;
  text-align: center;
  color: #212427;
}
.carousel .items {
  display: flex;
}
.carousel .item .img {
  width: 100%;
  height: auto;
}
